<% include layout %>
<h1><%= title %></h1>
<br><br>
  <p>
    <a href="/create">Create New Audiofile</a>
  </p>

<br><br>
<table width="90%">
  <tr align="center">
    <th>title</th>
    <th>artist</th>
    <th>duration</th>
    <th>codec</th>
    <th>id</th>
    <th>actions</th>
  </tr>
<% for(var i=0; i<audiofiles.length; i++) {%>
  <tr align="center">
    <td><%= audiofiles[i].title %></td>
    <td><%= audiofiles[i].artist %></td>
    <td><%= audiofiles[i].duration %>ms</td>
    <td><%= audiofiles[i].codec %></td>
    <td><%= audiofiles[i]._id %></td>
    <td>
      <p>
        <a href="/<%= audiofiles[i]._id %>/delete">
          Delete
        </a>
      </p>
      <p>
        <a href="/<%= audiofiles[i]._id %>/update">
          Update
        </a>
      </p>
    </td>
  </tr>
<% } %>
</table>
