<% include layout %>
<br>
<p>
  <a href="/create">Create New Audiofile</a>
</p>
<p>
  <a href="/populate">Populate DB from audio folder</a>
</p>
<br><br>
<table width="90%">
  <tr>
    <th>TITLE</th>
    <th>ARTIST</th>
    <th>DURATION</th>
    <th>CODEC</th>
    <th>ID</th>
    <th>ACTIONS</th>
  </tr>
<% for(var i=0; i<audiofiles.length; i++) {%>
  <tr>
    <td><%= audiofiles[i].title %></td>
    <td><%= audiofiles[i].artist %></td>
    <td><%= audiofiles[i].duration %></td>
    <td><%= audiofiles[i].codec %></td>
    <td><%= audiofiles[i]._id %></td>
    <td>
      <p>
        <a href="/<%= audiofiles[i]._id %>/delete">
          Delete
        </a>
      </p>
      <p>
        <a href="/<%= audiofiles[i]._id %>/update">
          Update
        </a>
      </p>
    </td>
  </tr>
<% } %>
</table>
