<% include layout %>
<br/>
<h2>Update ID: <%= audiofile._id %></h2>
<br/>
<form action="/<%= audiofile._id %>/update" method='post'>
  <p>Title:
    <input type='text' value='<%= audiofile.title %>' name='title'>
  </p>
  <p>Artist:
    <input type='text' value='<%= audiofile.artist %>' name='artist'>
  </p>
  <p>Duration:
    <input type='text' value='<%= audiofile.duration %>' name='duration'>
  </p>
  <p>Codec:
    <input type='text' value='<%= audiofile.codec %>' name='codec'>
  </p>
  <p>
    <br/><button type="submit">UPDATE</button>
  </p>
</form>
